.list_hot{
    margin-bottom: 20px;
}
.header_goi_y{
    display: flex;
    height: 10%;
    width: 100%;
}
.header_goi_y h1{
    height: 100%;
    width: 100%;
    padding: 2% 0;
    text-decoration: none;
    color: #d0011b;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.0625rem;
    line-height: 1.0625rem;
    align-self: center;
}
