.header_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    float: left;
}
.top_header{
    display: flex;
    justify-content: center;
    background-color: #ea2190;
}
.from_menu_header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #ffffff;
}
