.menu_header{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    width: 1487px;
    height: 80px;
}
.head-example{
    background-color: red;
}
.search{
    width: 490px;
    height: 41px;
    margin-top: 15px;
}
.logo{
    width: 303px;
}
.logo img{
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    object-fit: contain;
}
.singIn_singOut{
    width: 310px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}