#root{
    width: 100%;
    height: 100%;
}
.ant-layout{
    width: 100%;
    height: 100%;
}
/*.logo {*/
/*    height: 32px;*/
/*    margin: 16px;*/
/*    background: rgba(255, 255, 255, 0.3);*/
.ant-avatar-image{
    width: 100%;
    height: 100%;
}

.ant-layout-header{
    background-color: #D9ECEC;
    padding: 0;
    width: 100%;
    height: 8%;
}
.ant-layout-has-sider{
    width: 100%;
    height: 92%;
}
.ant-layout-sider-dark{
    height: 100%;
}
.ant-layout-content{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ant-layout-sider-children{
    width: 100%;
    height: 100%;
}
.ant-menu-inline{
    width: 100%;
    height: 100%;
}
.ant-layout-footer{
    height: 8%;
}
.site-layout-background{
    min-height: 84% !important;
    padding-top: 0px !important;
    background-color: #ecceeb;
}
.body_content{
    background-color: #ee93b3;
}
.header_leftMenu{
    height: 8%;
}
.ant-breadcrumb{
    height:100%;
    margin: 0px 24px !important;
    padding-top: 10px;
}
