.form{
    display: flex;
    flex-direction: column;
    width: 1487px;
    height: 568px;
}
.slider {
    width: 1487px;
    height: 518px;
    display: flex;
    justify-content: space-between;
    /*background-color: #61dafb;*/
}
.slider .left_slider{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_slider{
    width: 1487px;
    height: 50px;
    /*background-color: peachpuff;*/
    margin-bottom: 0em;
}
.picture_slider {
    width: 950px;
    height: 518px;
}
.center_slider {
    width: 950px;
    height: 518px;
}
.center_slider :hover{
    cursor: pointer;
}
.center_slider img {
    width: 100%;
    height: 518px;
}
.right_slider {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 518px;
}
.left_slider{
    width: 270px;
    height: 518px;
}
.left_slider img {
    /*object-fit: cover;*/
}
.menu_slider .hot_sale .menu_danhmuc{
    width: 267px;
    height: 100%;
}
.menu_slider .hot_sale .danhmuc{
    display: flex;
    justify-content: center;
    padding: 8px;
    width: 267px;
    height: 100%;
    background-color: #0f7fc1;
}
.menu_slider .hot_sale h2{
    font-family:courier;
    margin-top: 5px;
    color: #ffffff;
}
.menu_slider .hot_sale{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    height: 100%;
    width: 100%;
}
.slider .left_slider img{
    width: 33px;
    height: 33px;
}
.slider .left_slider a{
    width: 100%;
    height: 70px;
    font-family: Arial,Tahoma;
    color: black;

}

.icon__category {
    color: #ffffff;
    font-size: 20px;
    margin-right: 15px;
    margin-top: 10px;
}
.menu_slider .hot_sale li i{
    width: 38px;
    height: 15px;
    display: flex;
}
.menu_slider .hot_sale  li  a{
    color: black;
    font-family:Arial,Tahoma;
}
.menu_hotsale{
    display: flex;
    justify-content: space-around;
    width: 1221px;
    height: 100%;
    /*background-color: #c1a1c1;*/
}
.dososinh{
    /*display: flex;*/
    margin-left: 0px;
    width: 200px;
    margin-top: 12px;
}
.dososinh .hot_sale_one{
    display: flex;
    justify-content: space-between;
}
.suabot_ta_bim .hot_sale_tow{
    display: flex;
    justify-content: space-around;
}
.suabot_ta_bim {
    margin-left: 0px;
    width: 350px;
    margin-top: 12px;
}
.khuyenmai_hangmoi{
    margin-left: 0px;
    width: 290px;
    margin-top: 12px;
}
.khuyenmai_hangmoi li{
    display: flex;
    justify-content: space-around;
}
.right_slider :hover{
    cursor: pointer;
    margin-right: 5px;
}