.content_user {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.filter_user_content {
	display: flex;
	justify-content: space-between;
	margin: 0 15px;
	height: 8%;
}
.button_user_add{
	background-color: #94e3db;
	margin-bottom: 10px;
	width: 115px;
	border-radius: 15px;
	border-style: outset;
}
.table_user{
	height: 92%;
}
