.list_footer{
    width: 1487px;
    height: 240px;
    /*background-color: #e0cfe0;*/
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}
.footer_link{
    list-style: none;
    padding-inline-start : 0px !important;
}
.footer_link li a {
    color: black !important;
}
.footer_end{
    padding-left: 80px;
    padding-top: 15px ;
    display: flex;
    height: 90px;
}
.footer_end_item{
    width: 60%;
    height: 100%;
}
.footer_end_item_tow{
    width: 40%;
    height: 100%;
}
.footer_end_item_tow{
    display: flex;
}
.footer_end_item_tow .footer_end_item_tow_item{
    width: 50%;
}


