.herader_dangnhap{
    display: flex;
    margin-top: 25px;
    background-color: #f8fbcd;
}
.form_dangnhap{
    width: 550px;
    height: 300px;
    background-color: #61dafb;
    /*margin-top: 15%;*/
}
.form{
    width: 100%;
    height: 100%;
}
.Username{
    margin-left: 0px;
    margin-top: 70px;
    margin-right: 60px;
}
.Password{
    margin-left: 0px;
    margin-right: 60px;
}
.Checkbox{
    margin-left: -25px;
}
.Submit{
    margin:0px auto ;
}
.verticalLine {
    border-left: thick solid #ff0000;
    font-family: cursive;
    font-size: 14px;
}
.verticalLine p{
    margin-left:50px;
    margin-top: 15px;
    color: #fb1eb3;
}
.titell{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

