.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.editor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  :global {
    .ant-input-affix-wrapper {
      margin-left: 10px !important;
      width: 70%;
    }
  }
}
.item_comment_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.item_comment_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item_comment_container {
  width: 100%;
  overflow: auto;
  height: 300px;
}
.item {
  margin-left: 5px;
  width: auto;
}
